.container_header{
    width: 100%;
    padding-top: 4%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.App-logo{
    height: 100%;
}

.header_content_first, .header_content_second{
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.space{
    align-items: center;
    display: flex;
    padding: 5%;
    flex: 2;
}
.container_items_second{
    display: flex;
    flex: 12;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    color: rgb(88, 88, 88) ;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.visible_in_mobile{
    display: none;
}
.cont_logo{
    flex: 6;
}
.icons_header_right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.icons{
    width: 24%;
}
.items_icons{
    flex: 4;
    padding-top: 32px;
}
.text_icons{
    font-size: 16px;
    font-weight: bold;
}
.text_items{
    font-weight: bold;
    padding-right: 35px;
    padding-left: 15px;
}
.items_menu{
    cursor: pointer;
}

@media screen and (max-width:1260px){
    .container_items_second{
        display: none;
    }
    .visible_in_mobile{
        display: flex;
        width: 30%;
    }
    .icons{
        width: 50%;
    }
    .text_icons{
        display: none;
    }
}